<div class="page-box">
<div class="page-box-content">
<div id="top-box"></div><!-- #top-box -->

<%= render 'static_pages/header' %>

 <div class="container">
  <div class="row">
   <section id="main">  
		  <div class="container">
		    <div class="row">
		      <div class="content col-sm-12 col-md-12">
		        <div class="steps" align="center">    
		      		<h5>You are classified as a TRANSFER student! Please contact the <a href='http://www.fau.edu/admissions/contact.php' target='_blank'>FAU Admissions Office</a> at 561-297-3040.</h5>
		    	</div>
		    </div>    
    	</div>
      </div>
    </div>
  </div><!-- .container -->
</section><!-- #main -->
